    <footer class="footer text-center">
        <div class="container">
			<small class="copyright">NTwitch documentation by <a href="https://auxesis.tv/">Auxesis</a></small>
        </div><!--//container-->
    </footer><!--//footer-->
    
    <!-- Main Javascript -->          
    <script type="text/javascript" src="assets/plugins/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>                                                                     
    <script type="text/javascript" src="assets/plugins/jquery-match-height/jquery.matchHeight-min.js"></script>
    <script type="text/javascript" src="assets/js/main.js"></script>
</body>
</html> 