<div class="doc-sidebar hidden-xs">
                        <nav id="doc-nav">
                            <ul id="doc-menu" class="nav doc-menu" data-spy="affix">
                                <li><a href="./docs/">Intro</a>
                                    <ul class="nav doc-sub-menu">
                                        <li><a href="./docs/">Intro</a></li>
                                        <li><a href="./docs/quick-start">Quick Start</a></li>
                                        <li><a href="./docs/examples">Examples</a></li>
                                        <li><a href="./docs/links">Links</a></li>
                                    </ul>
                                </li>
                                <li><a href="./docs/clients/">Clients</a>
                                    <ul class="nav doc-sub-menu">
                                        <li><a href="./docs/clients/">Intro</a></li>
                                        <li><a href="./docs/clients/rest">Rest</a></li>
                                        <li><a href="./docs/clients/pubsub">Pubsub</a></li>
                                        <li><a href="./docs/clients/chat">Chat</a></li>
                                        <!--<li><a href="./docs/clients/managed">Managed</a></li>-->
                                    </ul>
                                </li>
                                <li><a href="./docs/configuring/">Configuring</a>
                                    <ul class="nav doc-sub-menu">
                                        <li><a href="./docs/configuring/">Intro</a></li>
                                        <li><a href="./docs/configuring/providers">Providers</a></li>
                                        <li><a href="./docs/configuring/caching">Caching</a></li>
                                    </ul>
                                </li>
                                <li><a href="./docs/entities/">Entities</a>
                                    <ul class="nav doc-sub-menu">
                                        <li><a href="./docs/entities/">Intro</a></li>
                                        <li><a href="./docs/entities/getting">Getting</a></li>
                                        <li><a href="./docs/entities/creating">Creating</a></li>
                                        <li><a href="./docs/entities/modifying">Modifying</a></li>
                                        <!--<li><a href="./docs/entities/">Helpers</a></li>-->
                                    </ul>
                                </li>
                                <li><a href="./docs/events/">Events</a>
                                    <ul class="nav doc-sub-menu">
                                        <li><a href="./docs/events/">Intro</a></li>
                                        <li><a href="./docs/events/cacheables">Cacheables</a></li>
                                    </ul>
                                </li>
                                <li><a href="https://github.com/Aux/NTwitch">Github</a></li>
                                <li><a href="https://discord.gg/yd8x2wM">Discord</a></li>
                            </ul><!--//doc-menu-->
                        </nav>
                    </div><!--//doc-sidebar-->